.main-div{
    height: 700px;
    background-color: #000000;
    background-image: url("../img/pizza06.jpg");
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
    opacity: 0.92;
}

header .intro-text .name{
    background-color:  rgba(44, 62, 80, 0.85);
    padding: 10px;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;

}

header .intro-text .skills{
    background-color:  rgba(44, 62, 80, 0.85);
    padding: 10px;
}

.my-line{
     padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

.panel-body{
    height: 70px;
}

section.success{
    background-color:   rgb(44, 62, 80);
}

hr.star-light,
hr.star-white {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-white:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.star-white {
  border-color: #ffffff;
}
hr.star-white:after {
  background-color:   rgb(44, 62, 80);
  color: #ffffff;
}

  #map {
            width: 100%;
            height: 500px;

            
        }




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
header .intro-text .name {
    font-size: 3.75em;
  }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
header .intro-text .name {
    font-size: 4.0em;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   header .intro-text .name {
    font-size: 4.25em;
  }
 }
